<div class="main-data">
  <div class="main">
    <ul class="ul-menu ul-menu1">
      <li><img src="../assets/logo.svg" class="li-menus li-logo" /></li>
      <div class="design-li">
        <li class="li-menu li-menu1">Home</li>
        <li class="li-menu li-menu2">About</li>
        <li class="li-menu li-menu3">Contact</li>
        <li class="li-menu li-menu4">Blog</li>
        <li class="li-menu li-menu5">Gallery</li>
      </div>
      <div class="h3-main">
        <img src="../assets/Intersect.png" height="100" width="100" />
        <h3 style="text-align: center">23/30 days</h3>
        <p class="" style="text-align: center; margin: 10px; font-size: 0.8rem">
          Subscribe To Unlock All Features
        </p>
        <button class="btn-unlock">Unlock Features</button>
      </div>
    </ul>
  </div>
  <div class="main-second">
    <div class="ul-menu-second">
      <div class="header-search">
        <div class="input-t card flex flex-wrap justify-content-center gap-3">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText />
          </span>
        </div>
        <div class="header-toggle"></div>
      </div>
    </div>
  </div>
</div>
